FORMAT: 1A
HOST: https://shop-name.upgates.com/

# Upgates API
<a href="https://www.upgates.cz/"><img src="https://files.upgates.com/graphics/logos/upgates/svg/upgates-logo.svg" width="150px" alt="Upgates"></a>

Upgates API slouží jako rozhraní pro přístup do e-shopů Upgates. Díky Upgates API můžete pracovat s daty v systému (vkládání, aktualizace, čtení, mazání) v reálném čase a propojit např. váš účetní, ERP, nebo jiný systém s Upgates. Více informací naleznete na [upgates.cz](https://www.upgates.cz/).
<br>
<br>

## Základní informace
* Pokud vytváříte vlastní napojení, zvažte použítí již [hotových doplňků](https://www.upgates.cz/doplnky), nebo si přečtěte tipy pro [vlastní napojení](https://www.upgates.cz/a/napojeni-na-ucetni-erp-a-jine-systemy)
* Pro komuninaci s API budete potřebovat [vytvořit přístup](https://upgates.cz/cz/a/dokumentace-api-hotova-propojeni). To můžete udělat v administraci e-shopu v sekci *Doplňky > API*.
* API je dostupné na URL adrese: `https://NAZEV-ESHOPU.admin.ZNACKA-SERVERU.upgates.com/api/v2` Přesný tvar URL adresy najdete v administraci e-shopu v sekci *Doplňky > API*.
* Každý požadavek, který má v těle [JSON](https://cs.wikipedia.org/wiki/JavaScript_Object_Notation), by měl obsahovat hlavičku `Content-Type: application/json`.
* V případě chyby vrací API JSON s textem zprávy a odpovídající [stavový kód](#introduction/stavove-kody).
* API pracuje v kódování `UTF-8`, tzn. obsah všech požadavků musí být v tomto kódování.
* Většina endpointů vrací chybové hlášky (pole `messages`). Je to pole objektů, kde je informace o tom ve kterém objektu a které property je jaká chyba. Usnadňuje to odhalení chyby při nevalidním formátu JSON požadavku.

## Autentizace
* Je potřeba si v administraci založit přístup do API (**Administrace / Doplňky - API**).
* Každému API uživateli je možné omezit přístupová práva na jednotlivé API endpointy. Konkrétní seznam včetně přístupových práv lze získat pomocí endpointu [Stav API](#reference/stav-api), který je vždy povolen pro všechny uživatele API.
* Každý API přístup je přiřazen do skupiny, skupiny se přiřazují automaticky a slouží pro [Rate limiting](/#introduction/rate-limiting)
* Autentizace probíhá pomocí [HTTP Basic authentication](https://en.wikipedia.org/wiki/Basic_access_authentication). Používají se identifikační údaje **login:klíč API**.
* Po 5-ti špatných pokusech se API zablokuje a vrací chybovou hlášku `403` (viz. [Omezení přihlášení](#introduction/rate-limiting/omezeni-prihlaseni)).

## Stavové kódy
Kód | Název | Popis
---|-------|-------
 `200` | **OK** | úspěšně zpracovaný požadavek, ve většině případů vrací JSON (viz. popis konkrétních endpointů)
 `301` | **Moved Permanently** | e-shop byl přesunut na jiný server. V tomto případě server vrací hlavičku `Location`, kde je nová adresa. Adresu si u sebe musíte změnit na novou.
 `400` | **Bad Request** | špatný požadavek, nevalidní JSON v těle požadavku. Pokud požadavek vyžaduje JSON, musí to být [JSON Object](https://www.w3schools.com/js/js_json_objects.asp)</a>
 `401` | **Unauthorized** | chyba při autentizaci, chybějící hlavička pro autentizaci nebo špatné přihlašovací údaje
 `403` | **Forbidden** | API uživatel není aktivní, nebo byl překročen maximální počet pokusů o přihlášení. Případně uživatel nemá práva na endpoint nebo metodu endpointu
 `404` | **Not Found** | špatná URL adresa požadavku
 `405` | **Method Not Allowed** | nepodporovaná metoda API nebo metoda konkrétního endpointu není implementována
 `413` | **Payload Too Large** | překročena velikost PUT požadavku - počet položek v JSONu (viz. [Rate Limiting](#introduction/rate-limiting))
 `429` | **Too Many Requests** | překročen maximální počet požadavků (viz. [Rate Limiting](#introduction/rate-limiting))
 `500` | **Internal Server Error** | chyba serveru. Pokud nastane, kontaktujte [technickou podporu Upgates](https://upgates.cz/a/technicka-podpora)
 `501` | **Not Implemented** | metoda není implementována

## HTTP metody
* API podporuje 4 základní HTTP metody: `POST`, `GET`, `PUT`, `DELETE`. Bližší popis je u každého endpointu.
* Pro přepsání HTTP metody můžete použít hlavičku `X-HTTP-Method-Override`. Požadavek může být např. `POST`, ale v pokud bude v požadavku tato hlavička s hodnotou `DELETE`, vyhodnotí se jako `DELETE`.

## Datové typy
Datový typ | Popis
---|-------
 `bool` | true / false, 1 / 0
 `string` | standardní řetězec znaků v **UTF-8**
 `int` | celé číslo
 `float` | desetinné číslo, jako oddělovač desetinných míst používejte tečku
 `array` | pole hodnot
 `object` | JSON Object
 `email` | validní emailová adresa
 `date` | datum zapsané jako řeťezec znaků dle [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
 `language` | kód jazyka dle [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)
 `currency` | kód měny dle [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
 `country` | kód země dle [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)

## API - Best practices
### Webhooky
* **Základním pravidlem je využívat Webhooky** všude, kde to jen bude možné a neposílat zbytečné pravidelné požadavky.
* Místo pravidelného stahování všech objednávek, využívejte nejlépe webhooky. V nejzažším případě můžete použít `last_update_time` na aktuální den, kterým si nové produkty stáhnete.

### Produkty
* **Seznam (GET)**
    * **Produkty**
        * Pokud potřebujete využívat data o produktu, například při založení nové objednávky, doporučujeme provádět stažení na základě ID produktu. Kód produktu není povinný údaj a někteří klienti jej nemusí mít vyplněný.
        * Produkty není nutné stahovat každý zvlášt. Využívejte stránkování.
    * **Varianty**
        * Varianty je možné posílat v jednom požadavku, není nutné každou variantu posílat zvlášť.
        * Pokud chcete stahovat parametry jednotlivých produktů (variant), není nutné je stahovat samostatně. Lze použít `/products/parameters`, ve kterém je informace o všech produktech a variantách.
* **Aktualizace (PUT)**
    * **Produkty**
        * Pokud potřebujete produkty aktualizovat, aktualizujte pouze ta data která se změnila. Pokud budete například vkládat pouze překlady, nemusíte k tomu posílat váhu, zda-li má být produkt vložitelný do košíku, atd.

### Objednávky
* **Seznam ()**
    * Pokud potřebujete mít ve svém doplňku tlačítko na stahování aktuálních objednávek, myslete nejdříve na webhooky. Pokud dané tlačítko musí být skutečně uvedeno, doporučujeme jej nastavit tak, aby nebylo možné používat opakovaně během pár sekund. Použití musí být podmíněno minimálně vždy tak, aby se dalo aktivovat až po dokončení předchozího stahování + například nějaký interval.
    * Objednávky není nutné stahovat po jedné. Využívejte stránkování.
    * Objednávky není vždy nutné stahovat všechny a z celé historie eshopu. Používejte parametry v URL adrese tak, abyste minimalizovali nároky na odpověď.

### Provozovatel eshopu, Jazyky
* Tyto sekce nepotřebují pravidelné stahování. Využívejte cache

## Doplňky - Best practices
Pokud jste partnerská agentura, která vytváří doplňky do Upgates, Best practices pro doplňky najdete v naší sekci [pro vývojáře](https://www.upgates.cz/a/api-dokumentace-doplnku#doplnek_bestpractices)



## Rate Limiting
Aby nedošlo k přílišnému zahlcení API požadavky, ať už neúmyslně špatným návrhem anebo úmyslně, je API omezeno.

### Omezení přihlášení
Je omezený počet pokusů o přihlášení, tzn. že můžete udělat pouze **5 špatných přihlášení za 1 hodinu na jednu IP adresu**. Potom API zablokuje přístup a vrací stav `403`. Používá se *Floating Time Window*.

### Omezení velikosti požadavku
Je omezena velikost `PUT` požadavku, tzn. že v JSONu může být **maximálně 100 položek**. Pokud je tento počet překročen, neprovede se žádná operace (API veškerá data ignoruje) a vrací stav `413`. Další informace najdete v popisech jednotlivých endpointů.

### Zpoplatnění API
6.1.2025 bude API **zpoplatněno** [(viz ceník)](https://www.upgates.cz/cenik).
- Zpoplatnění API a [Omezení počtu požadavků](/#introduction/rate-limiting/omezeni-poctu-pozadavku) **se nevztahuje na [ověřené doplňky](https://www.upgates.cz/a/pro-vyvojare-doplnky)** vytvářené agenturou, jejichž účelem je nabídnout určitou službu všem klientům Upgates. Ověřené doplňky musí splňovat pouze [podmínky dokumentací a BestPractices](https://www.upgates.cz/a/api-dokumentace-doplnku).

### Omezení počtu požadavků
Počtem požadavků je zde míněna každá komunikace v API 

**Příklad:** 
- Pokud je poslán pokyn k založení produktu *POST /api/v2/products* přes API, je to bráno jako jeden požadavek.
- Pokud je poslán pokyn na stažení nových objednávek *GET /api/v2/orders?last_update_time_from* a následně jsou u těchto objednávek třeba změněny stavy *PUT /api/v2/order-statuses* například na "Vyřizuje se". Tak se jedná o 2 požadavky.

Z tohoto důvodu je dobré dbát na správné uplatnění Best Practices - u GET používat stránkování, a reagovat nejlépe na základě webhooků, atd.
Pokud byste si nevěděli rady, jak nejlépe vaše požadavky optimalizovat, neváhejte s námi váš konkrétní případ probrat. Rádi vám vždy poradíme.

Obracet se můžete například na naše [Discord fórum](/#introduction/discord-forum).


Omezení probíhá na zakladě dvou limitů (Základní a Individuální), které se sčítají.

#### Základní limit

Limit podle vybraného tarifu [(viz ceník)](https://www.upgates.cz/cenik).

Tarif | Hodinový limit | Denni limit | Celkem*
---|-------|-------|-------
**Bronze** | 10 | 100 | 340
**Silver** | 15 | 300 | 660
**Gold** | 50 | 600 | 1800
**Platinum** | 100 | 1500 | 3900
**Exclusive** | 100 | 1500 | 3900 (+ možnosti individuálního rozšíření)

*Celkem = hodinový limit * 24 + denní limit

**Stahování počtu požadavků probíhá vždy nejdříve z hodinového limitu a teprve poté z denního limitu. Hodinový limit se resetuje vždy počátkem nové hodiny.

#### Individuální limit

Tento individuální limit si může klient určit sám. Je tvořen samostatnými "balíčky", které jsou tvořeny po 1000 požadavcích. Těchto 1000 požadavků je rozděleno mezi denní a hodinový limit.

**Celkem tedy 600** (25 za hodinu x 24 hodin) **+ 400 den = 1000**

Maximální počet balíčků, který lze dokoupit je 60. To odpovídá 60 000 požadavků za den. Větší limit je možný pouze na tarifu **Exclusive**, pro přechod na něj kontaktujte technickou podporu.

#### Uplatnění limitu

Pro omezení se používají pevné časovné intervaly. Hodinou je myšlen interval vždy od první do poslední vteřiny aktuální hodiny, stejně tak dnem je myšlen interval od první do poslední vteřiny aktuálního dne.
Každou hodinu je k dispozici počet požadavků ve výši hodinového limitu. Požadavky nad tento limit se odečtou z denního limitu. Pokud je vyčerpán denní limit, bude k dispozici každou hodinu pouze hodinový limit.
Po překročení maximálního počtu požadavků vrací API stav `429`.
Aby bylo možné limity poznat automaticky ve vaší aplikaci, vrací API tyto hlavičky:

- `X-Rate-Limit-Hour` - aktuálně nastavený hodinový limit
- `X-Rate-Limit-Day` - aktuálně nastavený denní limit
- `X-Rate-Limit-Hour-Remaining` - zbývající počet požadavků v hodinovém limitu
- `X-Rate-Limit-Day-Remaining` - zbývající počet požadavků v denním limitu
- `X-Rate-Limit-Total-Remaining` - celkévý zbývající počet požadavků
- `Retry-After` - datum a čas kdy je možné udělat další požadavek který už nebude omezen. Časový udaj je v GMT. Hlavička je pouze v odpovědi se stavem `429`.

### Souběžné požadavky
Na API je možno provádět pouze **3 souběžné požadavky**. Pokud je tento počet překročen, API vrací stav `429`. Větší limit je možný pouze na tarifu **Exclusive**, pro přechod na něj kontaktujte technickou podporu.

**POZOR - souběžné požadavky se počítají na skupinu API přístupu nikoliv na jeden API přístup, proto pokud napojujete doplňkovou funkci kterou využívá více klentů, zvažte napojení přes náš [systém doplňků](/#reference/doplnky). Přes doplňky dostane váš API přístup vlastní skupinu a nebudou ho omezovat ostatní přístupy.**

## Stránkování
Většina endpointů podporujících metodu `GET` nevrací kompletní seznam položek, ale pouze jejich první stranu. Pomocí parametru `page` lze určit konkrétní stranu, která se ve výpisu zobrazí. Odpověď pak obsahuje ještě další parametry, pomocí kterých můžete stránkovat.
* `current_page` - aktuální strana.
* `current_page_items` - počet položek na aktuální straně.
* `number_of_pages` - celkový počet stran.
* `number_of_items` - celkový počet položek.


## Obrázky
- platí pouze pro vytvoření a aktualizaci produktů a kategorií

### Přidání obrázku
- přidání existujícího obrázku posláním parametru `file_id` (soubor musí už existovat)
- přidání nového obrázku
    - pomocí URL adresy - obrázek nebude stažen ze zadané URL adresy v průběhu zpracovávání požadavku, ale později na pozadí
    - posláním obsahu souboru - bude vytvořen nový soubor a bude přiřazen (zatím pouze u produktu)

### Duplicitní obrázky
- systém řeší duplicitní soubory při jejich nahrávání přes API a to tak že porovnává jejich obsah a URL adresu ze které pochází
- pokud nahrávám **obrázek z URL adresy**, pokusí se vyhledat obrázek který pochází ze stejné URL adresy (u každého obrázku se pamatuje adresa ze které byl stažen), pokud ho najde použije se.
- při nahrávání obsahu souboru se **kontroluje obsah souboru** (systém porovnává hash obsahu souboru), pokud najde v databázi stejný hash, použije se soubor s tímto hashem.


## Jak na API napojení (rady a tipy)
Pro maximální optimalizaci API propojení doporučujeme tyto postupy:

* Většina endpointů má možnost filtrovat položky podle času poslední změny, jazyka a dalších parametrů. Tzn. že si můžete vytáhnout např. produkty od času posledního volání API a tím ušetřit čas i množství požadavků na stahování produktů.
* V `PUT` a `POST` požadavku je možné posílat až 100 položek. Tím se zakladání nebo aktualizace výrazně zrychlí a není nutné volat API pouze s jednou položkou.
* Zvažte, jak často je třeba API volat. Mnohokrát se stává, že voláte API zbytečně často. Většinou se jedná o `GET` požadavek pro objednávky.
* Zvažte jestli u sebe pro data která se tak často nemění (seznamy číselníků jako jsou stavy objednávek atd.) nepoužívat cache.
* Používejte webhooky ([dokumentace](https://www.upgates.cz/a/webhooky)).
* Pro **každé** napojení si vytvořte **zvláštní přístup** (uživatele), kterému omezíte přístup pouze na potřebné služby. V budoucnu je poté jednodušší takové napojení deaktivovat nebo zrušit.
* Další informace najdete v sekci **[pro vývojáře](https://www.upgates.cz/pro-vyvojare)**

## Testování
Pro testování API můžete použít:
* Rozšíření [Postman](https://chrome.google.com/webstore/detail/tabbed-postman-rest-clien/coohjcphdfgbiolnekdpbcijmhambjff) pro Google Chrome.
* Rozšíření [RESTED](https://addons.mozilla.org/en-US/firefox/addon/rested/) pro Mozilla Firefox.
* [Upgates API client](https://files.upgates.com/api/upgates-api-client.zip) - jednoduchý API klient v PHP.

## Přehled změn

 Datum | Endpoint | Změna
---|-------|-------
**17.09.2025** | [Aktualizace v34](https://www.upgates.cz/a/aktualizace-systemu-verze-34) | Aktualizace obsahovala:
-- | [Seznam faktur](/#reference/faktury/faktury/seznam-faktur) (GET) | Přidán nový parametr `creation_time_to`
-- | [Seznam variant](/#reference/produkty/varianty/seznam-variant) (GET) | Nový endpoint
-- | [Seznam produktů](/#reference/produkty/produkty) (GET) | Přidán nový atribut `variants_exists_yn` a nový parametr `variants_yn`
-- | [Fronta obrázků ke stažení](/#reference/produkty/obrazky/fronta-obrazku-ke-stazeni) (GET) | Nový endpoint
-- | [Výrobce](/#reference/vyrobci/vyrobci/seznam-vyrobcu) (GET) | Přidány nové atributy `company_name`, `company_address`, `company_email`, `company_eu_yn`, `company_eu_name`, `company_eu_address`, `company_eu_email`
-- | [Články](/#reference/clanky) (POST, PUT, GET) | Přidán nový atribut `bottom_description`
-- | [Aktuality](/#reference/aktuality) (GET) | Přidán nový atribut `bottom_description`
-- | [Rádce](/#reference/radce) (GET) | Přidán nový atribut `bottom_description`
-- | [Kategorie](/#reference/radce) (POST, PUT, GET) | Přidán nový atribut `bottom_description_text`, `short_description_text`
**17.06.2025** | [Aktualizace v33](https://www.upgates.cz/a/aktualizace-systemu-verze-33) | Aktualizace obsahovala:
-- | [Články](/#reference/clanky) (POST, PUT, DELETE) | Přidána správa článků
-- | [Produkty](/#reference/produkty) (GET) | Přidán nový URL parametr `languages`
-- | [Produkty](/#reference/produkty) (PUT, POST) | [Upravena logika](https://www.upgates.cz/a/aktualizace-systemu-verze-33#optimalizace-parametru-scroll) přidávání parametrů, variant a konfigurací.
**9.04.2025** | [Objednávky](/#reference/objednavky/objednavky/seznam-objednavek) (GET) | Přidány nové atributy `price_per_unit_with_vat` a `price_per_unit_without_vat` do objektu produktu
**8.04.2025** | [Objednávky](/#reference/objednavky/objednavky/seznam-objednavek) (GET) | Přidány nové atributy `price_with_vat` a `price_without_vat` do slev, dopravy a platby
**26.03.2025** | [Aktualizace v32](https://www.upgates.cz/a/aktualizace-systemu-verze-32) | Aktualizace obsahovala:
-- | [Seznam kategorií](#reference/kategorie/kategorie/seznam-kategorii) (GET) | přidáno do parametrů pole `exclude_from_search_yn`, přidáno do objektu kategorie (`category`) pole `exclude_from_search_yn`
-- | [Postman Collections](https://upgates.cz/shop-data/developers/Upgates_API_postman_collection.json) | Přidání možnosti stáhnout si Postman Collection. Najdete jej u každého endpointu
-- | Webhooky | Nově přidány `Availabilities.create`, `Availabilities.Update`, `Availabilities.Update`
-- | Webhooky | Nově přidány `Invoices.create`, `Invoices.Update`, `Invoices.Update`
-- | Webhooky | `Customers.Update`, `Products.Update`, `Order.Update` - Již se nespouští v případě, založení nové části.
-- | Webhooky | `Customers.create` V případě že se provede registrace, ale není zatím zákazníkem potvrzená, se uvádí `active_yn`=false, `blocked_yn`=false.
-- | [Sklady](/#reference/sklady) |  Rozšíření o další sklady. Pokud má projekt zapnutý doplněk Více skladů a nějaké sklady vytvořené. Včetně rozšíření o `stocks` do `/products` [Více zde Sklady](/#reference/sklady)
-- | [Objednávky](/#reference/objednavky/objednavky/vytvoreni-objednavky) (POST) | Přidány nové atributy `status_id`, `statistics_yn`, `dimensions`, `quantity_discount`
-- | [Objednávky](/#reference/objednavky/objednavky/seznam-objednavek) (GET) | Přidány nové atributy `statistics_yn`, `dimensions`, `quantity_discount`
-- | [Objednávky](/#reference/objednavky/objednavky/seznam-objednavek) (PUT) | Přidány nové atributy `delete_missing_products_yn`, `external_order_number`, `statistics_yn`, `variable_symbol`, `dimensions`, `customer`, `products`, `quantity_discount`, `shipment`, `payment`, `receipt`, `credit_note`
-- | [Objednávky](/#reference/objednavky/objednavky/aktualizace-objednavek) (POST) | `variable_symbol` zrušení typu `enum`
-- | [Objednávky - Historie](/#reference/objednavky/historie/historie-objednavky) (GET) | Vyřazení atributu `admin_yn`, nahrazen atributem `origin`
-- | [Objednávky - Přílohy](/#reference/objednavky/prilohy-objednavky/pridani-souboru) (POST) | Změna struktury Response
-- | [Produkty](/#reference/produkty) (POST, PUT, GET) | Přidán nový atribut `stocks`
-- | [Dostupnosti](/#reference/dostupnosti) (POST, PUT) | Přidány nové atributy `type`, `stock_from`, `dispatch_days`, `delivery_days`, `color`
-- | [Dostupnosti](/#reference/dostupnosti) (GET) | Přidán nový atribut `type`
-- | [Košíky](/#reference/kosiky/kosiky/seznam-kosiku) (GET) | Přidán nový atribut `uuid`
-- | [Rádce](/#reference/radce/radce/seznam-rad) (GET) | Přidán nový atribut `metas`
-- | [Aktuality](/#reference/aktuality/aktuality/seznam-aktualit) (GET) | Přidán nový atribut `metas`
-- | [Vlastní pole](/#reference/vlastni-pole) (POST, GET, DELETE) | Přidána možnost vytvářet, stahovat a mazat vlastní pole
**22.1.2025** | Všechny seznamy produktů | Nový URL parametr `can_add_to_basket_yn`
**1.1.2025** | [Zákazníci](#reference/zakaznici) (PUT) | Odebrán atribut `email`, nahrazen v login => email
-- | [Objednávka](#reference/produkty/objednavky) | Odebrán endpoint Stav objednávek `/orders/states`, nahrazen `/order-statuses`
**20.12.2024** | [Kategorie](#reference/kategorie/kategorie/seznam-kategorii) | Do seznamu kategorií přidáno pole `target_category_id` (do objektu `item`)
**31.10.2024** | [Faktury](#reference/faktury/faktury/seznam-faktur) | Do seznamu faktur přidáno pole `recycling_fee` (do objektu `item`)
**5.9.2024** | [Štítky](#reference/stiky/stitky/seznam-stitku) | Do seznamu štítků přidáno pole `color`
**20.8.2024** | [Aktualizace v31.2](https://www.upgates.cz/a/aktualizace-systemu-verze-31-2) | Aktualizace obsahovala:
-- | [Seznam faktur](#reference/faktury/faktury) | přidáno do objektu položky na fatuře pole `type`
-- | [Přesměrování](#reference/presmerovani) | Vytvoření, Seznam, Smazání
-- | [Přílohy objednávky](#reference/objednavky/prilohy-objednavky) | Vytvoření, Seznam, Smazání
 **3.5.2024** | [Skupiny doprav](#reference/doprava/skupiny-doprav) | Seznam skupin doprav
 **3.5.2024** | [Produkty](#reference/produkty) | Do vytvoření a aktualizace produktu přidáno pole `shipment_group`
**22.04.2024** | [Aktualizace v31](https://www.upgates.cz/a/aktualizace-systemu-verze-31) | Aktualizace obsahovala:
-- | [Produkty](#reference/produkty/produkty) (POST) | Vytvoření produktů
-- | [Produkty](#reference/produkty/produkty) (PUT) | Byly přidány pole `code_suplier`, `availability_id`, `manufacturer_id`, `manufacturer`, `weight`, `images`, `categories`, `vats`, `parameters` 
-- | [Dostupnosti](#reference/dostupnosti) | Vytvoření, Aktualizace, Seznam, Smazání
-- | [Parametry](#reference/parametry) | Vytvoření, Aktualizace, Seznam, Smazání
-- | [Kategorie](#reference/kategorie) | Vytvoření, Aktualizace, Seznam, Smazání
-- | [Zákazníci](#reference/zakaznici) | Vytvoření, Aktualizace, Smazání
-- | [Skupiny zákazníků](#reference/zakaznici/skupiny-zakazniku) | Vytvoření, Aktualizace, Smazání
-- | [Zákazníci](#reference/zakaznici) (GET) | Přidáno pole `base_turnover`, `turnover`, `turnover_currencry`, `vat_payer_yn`, `salutation`, `declension`, `note`
-- | [Ceníky](#reference/produkty/ceniky) (DELETE) | Smazání ceníků
-- | [Košíky](#reference/produkty/kosiky) (GET) | Přidáno pole `UUID`
-- | [Objednávka](#reference/produkty/objednavky) (GET) | Přidáno pole `UUID`, 2+1 zdarma, `parent_uuid`, `type`
-- | [Objednávka - Stavy objednávek](#reference/stavy-objednavek/stavy-objednavky) (GET) | `/api/v2/orders/states` bylo nahrazeno novým zápisem `api/v2/order-statuses` 
-- | [Výrobci](#reference/vyrobci) (GET) | Seznam výrobců
-- | [Štítky](#reference/stitky) (POST) | Přidána metoda Vytvoření
-- | [Štítky](#reference/stitky) (GET) | Přidáno stránkování
-- | [Soubory](#reference/soubory) | Založení, Seznam, Smazání, Seznam kategorií souboru
-- | [Seznam produktů](#reference/produkty/produkty) (GET) | Byly přidány pole `availability_id`, `file_id`, `set_yn`
-- | [Seznam produktů - Parametry](#reference/produkty/parametry/seznam-produktu-parametry), [Seznam produktů - Štítky](#reference/produkty/stitky/seznam-produktu-stitky), [Seznam produktů - Soubory](#reference/produkty/soubory/seznam-produktu-soubory) | Odstranění `pricelist`
-- | [Seznam produktů - zjednodušený](#reference/produkty/produkty/seznam-produktu-zjednoduseny), [Seznam produktů - Související](#reference/produkty/souvisejici/seznam-produktu-souvisejici) | Odstranění `language` a `pricelist`
 **26.2.2024** | [Seznam produktů](#reference/produkty/seznam-produktu/seznam-produktu) (GET) | přidáno pole `set_yn`, a `in_set_yn` do objektu produktu (`product`)
 **3.1.2024** | [Vytvoření kupónů](#reference/slevove-kupony/slevove-kupony/vytvoreni-kuponu) (POST) |  přidán typ `payment_shipment`
 **5.12.2023** | [Seznam produktů - ceny](#reference/produkty/seznam-produktu/seznam-produktu-ceny) (GET) | přidáno do objektu produktu (`product`) pole `action_currently_yn`, přidáno do objektu produktu (`variant`) pole `action_currently_yn`
 **7.8.2023** | [Seznam kategorií](#reference/kategorie/seznam-kategorii/seznam-kategorii) (GET) | přidán parametr `parent_id` (možnost filtrace objednávek podle ID nadřazené kategorie)
 **21.11.2023** | [Seznam produktů](#reference/produkty/seznam-produktu/seznam-produktu) (GET) | přidáno do parametrů pole `exclude_from_search_yn`, přidáno do objektu produktu (`product`) pole `exclude_from_search_yn`
 **19.10.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidán parametr `phone` (možnost filtrace objednávek podle telefonního čísla)
 **5.10.2023** | [Seznam faktur](#reference/faktury/faktury/seznam-faktur) | přidáno pole `oss_yn` a `oss_country_id`
 **1.9.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu dopravy (`shipment`) pole `packeta_carrier_id`
 **29.8.2023** | [Platby](#reference/platba/platba/seznam-plateb) | nový endpoint na seznam plateb
 **29.8.2023** | [Jazyky](#reference/e-shop/jazyky/jazyky-eshopu) | přidáno pole `default_yn`
 **25.8.2023** | [Seznam doprav](#reference/doprava/doprava/seznam-doprav) | změna pole `affiliates_yn` na `affiliates_types`
 **25.8.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu dopravy (`shipment`) pole `id`, přidáno do objektu platby (`payment`) pole `id`
 **25.8.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu dopravy (`shipment`) pole `type`, přidáno do objektu platby (`payment`) pole `type`
 **22.8.2023** | [Seznam doprav](#reference/doprava/doprava/seznam-doprav) | nový endpoint na seznam doprav
 **17.8.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu produktu (`product`) pole `adult_yn`
 **10.8.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidán parametr `status_ids` (možnost filtrace objednávek podle více stavů)
 **10.8.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu produktu (`product`) pole `image_url`
 **9.8.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu objednávky (`order`) pole `tracking_url`
 **7.8.2023** | [Seznam kategorií](#reference/kategorie/seznam-kategorii/seznam-kategorii) | přidáno do objektu kategorie (`category`) pole `metas`
 **25.7.2023** | [Vytroření poboček dopravy](#reference/doprava/pobocky-dopravy/vytvoreni-pobocky-dopravy) | přidáno pole `affiliate_id` pro vlastní ID pobočky
 **27.6.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno filtrování podle `external_order_number`
 **19.6.2023** | [Seznam produktů](#reference/produkty/seznam-produktu/seznam-produktu) | přidáno do objektu produktu (`product`) pole `supplier`
 **1.6.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu produktu (`product`) pole `supplier`
 **5.5.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidáno do objektu produktu (`product`) pole `recycling_fee`
 **21.4.2023** | [Seznam objednávek](#reference/objednavky/objednavky/seznam-objednavek) | přidány do objektu zákazníka (`customer`) pole `customer_pricelist_id`, `pricelist_name`, `pricelist_percent`
 **12.4.2023** | - | aktualizace systému na verzi 30.0, více na [blogu](https://www.upgates.cz/a/aktualizace-systemu-verze-30)

## Discord fórum
Discord fórum slouží vývojářům, kteří pracují s API a mají dotaz na naše developery. Zároveň prosíme o pochopení, že se nejedná o žádný online chat a může se stát, že nedostanete odpověď ihned.
Děkujeme za pochopení.
[Discord pozvánka na fórum](https://discord.gg/6X7VbMEVjk).


# Group Objednávky
Unikátním identifikátorem objednávek je číslo objednávky (`order_number`).

Pro práci s objednávkami lze využívat **[webhooky](https://www.upgates.cz/a/objednavky)**.

Více o objednávkách v Upgates e-shopech najdete [zde](https://www.upgates.cz/a/objednavka).

## Objednávky [/api/v2/orders]

[Postman Collections](https://upgates.cz/shop-data/developers/Upgates_API_postman_collection.json)

### Vytvoření objednávky [POST]

Systém během importu objednávek přes API porovnává zákaznické údaje v e-shopu s těmi v objednávce. Když se najde zákazník se shodným emailem, pak je přiřazen k dané objednávce (je vytvořena vazba). Je to z důvodu správného výpočtu statistik.

Stejným způsobem to funguje také u dopravy, platby a produktů (variant). Ty se párují podle kódu.

Při vytvoření objednávky se posílají emaily a SMS (pokud jsou nějaké u [stavu objednávky](https://www.upgates.cz/a/stavy) nastaveny) a pokud jsou nastaveny atributy `send_emails_yn` a `send_sms_yn`.

+ Request

    + Attributes
        + send_emails_yn (bool, optional) - poslání emailu, který je navázáný na stav objednávky. Výchozí hodnota je `true`
        + send_sms_yn (bool, optional) - poslání SMS, která je navázána na stav objednávky. Výchozí hodnota je `true` (SMS služba není standardně aktivní, více najdete v [Nastavení SMS](https://upgates.cz/a/sms))
        + orders (array, required) - pole objektů s objednávkami
            + (object)
                + external_order_number (string, optional) - číslo objednávky z externího systému
                + language_id (language, required) - jazyk objednávky. Tento jazyk musí být vytvořen v administraci eshopu
                + prices_with_vat_yn (bool, optional) - příznak, jestli jsou ceny s DPH. Pokud není zadáno, bere se podle nastavení z administrace
                + status (string, optional) - název stavu objednávky z administrace (výchozí stav u nové objednávky je **Přijatá**). Seznam stavů se dá zjistit pomocí metody GET, více v sekci [Stavy objednávky](#states)
                + status_id (int, optional) - ID stavu objednávky, stav musí být vytvořen v administraci. Seznam stavů se dá zjistit pomocí metody GET, více v sekci [Stavy objednávky](#states)
                + paid_date (date, optional) - datum zaplacení objednávky [ISO 8601](https://en.wikipedia.org/wiki/ISO8601)
                + tracking_code (string, optional) - trackovací kód pro dopravu
                + resolved_yn (bool, optional) - příznak pro vyřešenou objednávku
                + internal_note (string, optional) - interní poznámka
                + statistics_yn (bool, optional) - zahrnuto do statistik
                + variable_symbol (int, optional) - variabilní symbol (maximální délka 10 znaků, jen číslice). Pokud není uvedeno, generuje se z čísla objednávky
                + creation_time (date, optional) - čas vytvoření objednávky [ISO 8601](https://en.wikipedia.org/wiki/ISO8601)
                + dimensions (object, optional) - rozměry zásilky
                    + width (int) - šířka
                    + length (int) - délka
                    + height (int) - výška
                + customer (object, required) - zákazník
                    + email (email, required) - email zákazníka
                    + phone (string, optional) - telefon
                    + firstname_invoice (string, optional) - fakturační jméno
                    + surname_invoice (string, optional) - fakturační příjmení
                    + street_invoice (string, optional) - fakturační ulice a číslo
                    + city_invoice (string, optional) - fakturační město
                    + state_invoice (string, optional) - fakturační okres
                    + zip_invoice (string, optional) - fakturační PSČ
                    + country_id_invoice (country, optional) - fakturační země
                    + postal_yn (bool, optional) - příznak doručovací adresy. Pokud posíláte doručovací adresu, musí mít hodnotu `true`
                    + firstname_postal (string, optional) - doručovací jméno
                    + surname_postal (string, optional) - doručovací přijmení
                    + street_postal (string, optional) - doručovací ulice a číslo
                    + city_postal (string, optional) - doručovací město
                    + state_postal (string, optional) - doručovací okres
                    + zip_postal (string, optional) - doručovací PSČ
                    + country_id_postal (country, optional) - doručovací země
                    + company_postal (string, optional) - doručovací název firmy
                    + company_yn (bool, optional) - příznak, jestli je zákazník firma
                    * company (string, optional) - název firmy. Povinné, pokud je zákazníkem firma
                    + ico (string, optional) - IČO
                    + dic (string, optional) - DIČ
                    + vat_payer_yn (bool, optional) - příznak, jestli je firma plátce DPH
                    + pricelist_name (string, optional) - název ceníku
                    + pricelist_percent (int, optional) - procenta slevy ceníku (pouze informativní, s procenty se nikde nepočítá)
                    + customer_note (string, optional) - poznámka zákazníka
                + products (array, required) - pole objektů s produkty
                    + (object)
                        + code (string, optional) - kód produktu
                        + code_supplier (string, optional) - kód dodavatele
                        + ean (string, optional) - EAN produktu
                        + title (string, required) - název produktu
                        + quantity (float, optional) - počet kusů
                        + unit (string, optional) - jednotka
                        + price_per_unit (float, required) - cena za jednu jednotku produktu (cena je s nebo bez DPH podle příznaku prices_with_vat_yn)
                        + vat (float, required) - hodnota DPH v %
                        + buy_price (float, optional) - nákupní cena (cena je s nebo bez DPH podle příznaku prices_with_vat_yn)
                        + recycling_fee (float, optional) - recyklační poplatek
                        + weight (int, optional) - váha jedné jednotky produktu v gramech
                        + invoice_info (string, optional) - poznámka k produktu která se propisuje do faktury
                        + parameters (array, optional) - pole objektů s parametry produktu
                            + (object)
                                + name (string, required) - název parametru
                                + value (string, required) - hodnota parametru
                + quantity_discount (object, optional) - množstevní sleva
                    + amount (int, required) - hodnota slevy
                    + type (enum, required) - typ slevy
                        - price - sleva s konkrétní cenou
                        - percent - procentuální sleva (počítá se z celkové ceny objednávky bez dopravy a platby)
                + shipment (object, optional) - doprava
                    + code (string, optional) - kód dopravy. Páruje se s kódem dopravy
                    + name (string, required) - název dopravy
                    + price (float, required) - cena dopravy (cena je s nebo bez DPH podle příznaku prices_with_vat_yn)
                    + vat (float, required) - hodnota DPH v %
                    + affiliate_id (string, optional) - ID pobočky dopravy
                    + affiliate_name (string, optional) - název pobočky
                + payment (object, optional) - platba
                    + code (string, optional) - kód platby. Páruje se s kódem platby
                    + name (string, required) - název platby
                    + price (float, required) - cena platby (cena je s nebo bez DPH podle příznaku prices_with_vat_yn)
                    + vat (float, required) - hodnota DPH v %
                    + eet_yn (bool, optional) - příznak jestli se má poslat objednávka do EET
                + metas (Metas, optional)
                + invoice (object, optional) - faktura
                    + generate_yn (bool, optional) - příznak na vygenerování faktury. Pokud bude `FALSE`, nevygeneruje se  vůbec ani v případě, že je zapnuté automatické generování faktury
                    + expiration_date (date, optional) - datum splatnosti. Pokud není vyplněno, bere se aktuální datum + nastavená hodnota z administrace
                    + date_of_issuance (date, optional) - datum vystavení [ISO 8601](https://en.wikipedia.org/wiki/ISO8601)
                    + date_of_vat_revenue_recognition (date, optional) - datum zdanitelného plnění [ISO 8601](https://en.wikipedia.org/wiki/ISO8601)
                + receipt (object, optional) - účtenka
                    + generate_yn (bool, optional) - příznak na vygenerování účtenky. Pokud bude `TRUE`, vygeneruje se.
                    + expiration_date (date, optional) - datum splatnosti. Pokud není vyplněno, bere se aktuální datum + nastavená hodnota z administrace
                    + date_of_issuance (date, optional) - datum vystavení
                    + date_of_vat_revenue_recognition (date, optional) - datum zdanitelného plnění

+ Response 200 (application/json)

    + Attributes
        + orders (array) - pole objektů s objednávky
            + (object)
                + external_order_number (string, nullable) - externí číslo objednávky
                + order_number (string) - číslo objednávky. Pokud se objednávka nevytvoří, vrací `null`
                + order_url (string) - URL adresa, kde se nachází objednávka
                + created_yn (bool) - informace o úspěšném vytvoření položky
                + messages (ErrorMessage)

### Seznam objednávek [GET/api/v2/orders/{order_number}/{?order_numbers}{?creation_time_from}{?creation_time_to}{?last_update_time_from}{?paid_yn}{?status}{?status_id}{?status_ids}{?language}{?email}{?phone}{?external_order_number}{?payment_type}{?shipment_type}{?page}{?order_by}{?order_dir}]
Seznam objednávek je dostupný po jednotlivých stranách, výstup je omezený na 100 položek na stránku.

+ Parameters
    + order_number (string, optional) - číslo objednávky
    + order_numbers (string, optional) - čísla objednávek oddělená středníkem `;`
    + creation_time_from (date, optional) - vrátí objednávky vytvořené od tohoto data
    + creation_time_to (date, optional) - vrátí objednávky vytvořené do tohoto data včetně
    + last_update_time_from (date, optional) - vrátí objednávky změněné od tohoto data
    + paid_yn (bool, optional) - pokud je 1, vrátí zaplacené objednávky
    + status (string, optional) - stav objednávky. Pokud bude prázdný, vrátí objednávky, kde není zadaný žádný stav
    + status_id (int, optional) - ID stavu objednávky
    + status_ids (string, optional) - ID stavu objednávky oddělená středníkem `;`
    + language (language, optional) - jazyková mutace, na které objednávka vznikla
    + email (string, optional) - email zákazníka na objednávce
    + phone (string, optional) - telefon zákazníka na objednávce, ve formátu **MSISDN**
    + external_order_number (string, optional) - číslo objednávky z externího systému
    + payment_type (enum, optional) - typ platby
        - cash - hotově
        - cashOnDelivery - dobírka
        - command - převodem
        - moneybookers - skrill
        - paypal - PayPal
        - stripe - Stripe
        - payu - PayU
        - homecredit - Homecredit
        - tatrapay - TatraPay
        - tatracardpay - Tatra CardPay
        - comgate - ComGate
        - gopay - GoPay
        - fio - Fio
        - gpwebpay - GP webpay
        - cofidis - Cofidis
        - essox - Essox
        - twisto - Twisto
        - cashOnCashRegister - hotově na pokladně
        - cardOnCashRegister - kartou na pokladně
        - thepay - ThePay
        - custom - vlastní
    + shipment_type (enum, optional) - typ dopravy
        - ceskaPosta - Česká pošta
        - slovenskaPosta - Slovenská pošta
        - ulozenka - Uloženka
        - zasilkovna - Zásilkovna
        - dpd - DPD
        - ppl - PPL
        - gls - GLS
        - custom - Vlastní doprava
    + page (int, optional) - stránka. Pokud není definováno, vrací vždy stranu 1
    + order_by (enum, optional) - řazení
        - creation_time - seřadí podle času vytvoření
        - last_update_time - seřadí podle času změny
    + order_dir (enum, optional) - směr řazení
        - asc - vzestupně
        - desc - sestupně

+ Response 200 (application/json)

    + Attributes
        + current_page (int) - aktuální strana
        + current_page_items (int) - počet položek na aktuální straně
        + number_of_pages (int) - celkový počet stran
        + number_of_items (int) - celkový počet položek
        + orders (array) - pole objektů s objednávkami
            + (object)
                + order_number (string) - číslo objednávky
                + order_id (int) - ID objednávky
                + case_number (string) - číslo obchodního případu
                + external_order_number (string, nullable) - číslo objednávky z externího systému
                + uuid (string) - unikátní identifikátor objednávky
                + language_id (language) - jazyk objednávky
                + currency_id (currency) - měna objednávky
                + default_currency_rate (currency) - kurz pro výchozí měnu. Přepočet ceny do výchozí měny provedete jako: cena * (1 / `default_currency_rate`)
                + prices_with_vat_yn (bool) - příznak, jestli jsou ceny s DPH
                + status_id (int, nullable) - ID stavu objednávky
                + status (string, nullable) - název stavu objednávky
                + paid_date (date, nullable) - datum zaplacení objednávky
                + tracking_code (string, nullable) - trackovací kód pro dopravu
                + tracking_url (string, nullable) - trackovací URL pro dopravu
                + statistics_yn (bool) - zahrnuto do statistik
                + resolved_yn (bool) - příznak pro vyřešenou objednávku
                + oss_yn (bool) - příznak, jestli byla objednávka vytvořena v režimu OSS
                + internal_note (string, nullable) - interní poznámka
                + last_update_time (date) - datum aktualizace
                + creation_time (date) - datum vytvoření
                + variable_symbol (string) - variabilní symbol
                + dimensions (object, optional) - rozměry
                    + width (int) - šířka
                    + length (int) - délka
                    + height (int) - výška
                + total_weight (int) - celková váha objednávky v gramech
                + order_total (float) - celková cena s DPH
                + order_total_before_round (float) - celková cena s DPH před zaokrouhlením
                + order_total_rest (float) - hodnota zaokrouhlení celkové ceny s DPH
                + invoice_number (string, nullable) - číslo faktury
                + origin (enum) - původ vytvoření objednávky
                    - admin - vytvoření ručně v administraci
                    - frontend - vytvoření zákazníkem na e-shopu
                    - api - vytvoření posláním dat přes API
                    - cash–register - vytvoření přes pokladnu
                + admin_url (string) - URL do detailu objednávky v administraci
                + customer (object) - zákazník
                    + email (email, nullable) - email zákazníka, pokud `null` zákazník není vybraný
                    + phone (string, nullable) - telefon
                    + code (string, nullable) - zákaznické číslo
                    + customer_id (int, nullable) - ID zákazníka
                    + customer_pricelist_id (int, nullable) - ID ceníku zákazníka ve kterém zákazník napoupil
                    + pricelist_name (string, nullable) - název ceníku
                    + pricelist_percent (int, nullable) - procento slevy ceníku
                    + firstname_invoice (string, nullable) - fakturační jméno
                    + surname_invoice (string, nullable) - fakturační příjmení
                    + street_invoice (string, nullable) - fakturační ulice a číslo
                    + city_invoice (string, nullable) - fakturační město
                    + state_invoice (string, nullable) - fakturační okres
                    + zip_invoice (string, nullable) - fakturační PSČ
                    + country_id_invoice (country, nullable) - fakturační země
                    + postal_yn (bool) - příznak doručovací adresy
                    + firstname_postal (string, nullable) - doručovací jméno
                    + surname_postal (string, nullable) - doručovací přijmení
                    + street_postal (string, nullable) - doručovací ulice a číslo
                    + city_postal (string, nullable) - doručovací město
                    + state_postal (string, nullable) - doručovací okres
                    + zip_postal (string, nullable) - doručovací PSČ
                    + country_id_postal (country, nullable) - doručovací země
                    + company_postal (string, nullable) - doručovací název firmy
                    + company_yn (bool) - příznak, jestli je zákazník firma
                    + company (string, nullable) - název firmy
                    + ico (string, nullable) - IČO
                    + dic (string, nullable) - DIČ
                    + vat_payer_yn (bool) - příznak, jestli je firma plátce DPH
                    + customer_note (string, nullable) - poznámka zákazníka
                    + agreements (array) - pole objektů se souhlasy
                        + (object)
                            + name (string) - název souhlasu
                            + valid_to (date) - čas, do kdy je souhlas platný
                            + status (bool) - stav souhlasu
                + products (array) - pole objektů s produkty
                    + (object)
                        + product_id (int, nullable) - ID produktu z databáze (pouze orientačně, pro párování produktů slouží `code`). Pokud je `null` jedná se buď o ručně založenou položku objednávky, nebo o produkt který už není v databázi.
                        + option_set_id (int, nullable) - ID varianty z databáze (pouze orientačně, pro párování produktů slouží `code`). Bude vyplněno pouze tehdy, pokud je položka varianta produktu. Pokud je `null` jedná se buď o ručně založenou položku objednávky, produkt nemá variantu, nebo o variata už není v databázi.
                        + type (enum)
                            - product - standardní položka
                            - set - sada
                            - set_part - položka která je součástí sady, má UUID nadřazené položky což je sada samotná
                            - gift - dárek, má UUID nadřazené položky což je produkt ke kterému dárek patří
                            - discount - sleva, má UUID nadřazené položky což je produkt ke kterému sleva patří
                        + uuid (string) - unikátní identifikátor položky na objednávce
                        + parent_uuid (string, nullable) - UUID nadřazené položky
                        + code (string, nullable) - kód produktu nebo varianty produktu
                        + code_supplier (string, nullable) - kód dodavatele produktu nebo varianty produktu
                        + supplier (string, nullable) - dodavatel
                        + ean (string, nullable) - EAN produktu nebo varianty produktu
                        + title (string, nullable) - název produktu
                        + adult_yn (bool) - příznak  pouze pro dospělé
                        + unit (string) - jednotka
                        + length (string, nullable) - množství
                        + length_unit (string, nullable) - jednotka množství
                        + quantity (float) - počet jednotek
                        + price_per_unit (float) - cena za jednu jednotku produktu (cena je s nebo bez DPH podle příznaku `prices_with_vat_yn`)
                        + price_per_unit_with_vat (float) - cena za jednu jednotku produktu s DPH
                        + price_per_unit_without_vat (float) - cena za jednu jednotku produktu bez DPH
                        + price (float) - celková cena za produkt (cena je s nebo bez DPH podle příznaku `prices_with_vat_yn`)
                        + price_with_vat (float) - celková cena za produkt s DPH
                        + price_without_vat (float) - celková cena za produkt bez DPH
                        + vat (float) - hodnota DPH v %
                        + buy_price (float, nullable) - nákupní cena za jednu jednotku produktu
                        + recycling_fee (float, nullable) - recyklační poplatek
                        + weight (int) - váha jedné jednotky produktu v gramech
                        + availability (string, nullable) - dostupnost produktu ve chvíli, kdy byl objednán
                        + stock_position (string, nullable) - pozice na skladě
                        + invoice_info (string, nullable) - poznámka k produktu, která se propisuje do faktury
                        + parameters (array) - pole objektů s parametry produktu
                            + (object)
                                + name (string) - název konfigurace
                                + value (string) - hodnota parametru
                        + configurations (array) - pole objektů s konfiguracemi produktu
                            + (object)
                                + name (string) - název parametru
                                + values (array) - pole hodnot
                                    + (object)
                                        + value (string) - hodnota
                                        + operation (string) - operace (+, -)
                                        + price (float) - cena konfigurace (je již připočtena k ceně produktu)
                        + categories (array) - pole objektů s kategoriemi, do kterých byl produkt zařazen v době vytvoření objednávky
                            + (object)
                                + category_id (int) - ID kategorie
                                + code (string, nullable) - kód kategorie
                        + image_url (string, nullable) - URL obrázku, hlavní obrázek z produktu
                + discount_voucher (object) - slevový kupón
                    + code (string) - kód slevového kupónu
                    + type (enum) - typ slevy
                        - percent - procentuální sleva
                        - price - pevná sleva
                    + amount (float) - výše slevy. Pokud je typ slevy `percent`, jsou to procenta. Pokud je typ `price`, jedná se o cenu
                    + discounts (array) - pole objektů se slevami rozpočítanými pro jednotlivé hladiny DPH
                        + (object)
                            + price (float) - hodnota slevy
                            + price_with_vat (float) - hodnota slevy s DPH
                            + price_without_vat (float) - hodnota slevy bez DPH
                            + vat (float) - DPH v %
                + quantity_discount (object) - množstevní sleva
                    + type (enum) - typ slevy
                        - percent - procentuální sleva
                        - price - pevná sleva
                    + amount (float) - výše slevy. Pokud je typ slevy `percent`, jsou to procenta. Pokud je typ `price`, jedná se o cenu
                    + discounts (array) - pole objektů se slevami rozpočínanými pro jednotlivé hladiny DPH
                        + (object)
                            + price (float) - hodnota slevy
                            + price_with_vat (float) - hodnota slevy s DPH
                            + price_without_vat (float) - hodnota slevy bez DPH
                            + vat (float) - DPH v %
                + loyalty_points (object) - věrnostní body
                    + one_point_for (float) - hodnota (cena) jednoho bodu
                    + amount (float) - výše slevy
                    + discounts (array) - pole objektů se slevami rozpočínanými pro jednotlivé hladiny DPH
                        + (object)
                            + price (float) - hodnota slevy
                            + price_with_vat (float) - hodnota slevy s DPH
                            + price_without_vat (float) - hodnota slevy bez DPH
                            + vat (float) - DPH v %
                + shipment (object) - doprava
                    + id (int, nullable) - ID dopravy, pokud `null` jedná se o ručně založenou dopravu bez vazby na existující
                    + code (string, nullable) - kód dopravy. Páruje se s kódem dopravy
                    + name (string) - název dopravy
                    + price (float) - cena dopravy
                    + price_with_vat (float) - cena s DPH
                    + price_without_vat (float) - cena bez DPH
                    + vat (float) - hodnota DPH v %
                    + affiliate_id (string, nullable) - ID pobočky dopravy
                    + affiliate_name (string, optional) - název pobočky
                    + type (string, nullable) - typ dopravy
                    + packeta_carrier_id (int) - ID dopravce, pouze pokud je typ dopravy Zásilkovna
                + payment (object) - platba
                    + id (int, nullable) - ID platby, pokud `null` jedná se o ručně založenou platbu bez vazby na existující
                    + code (string, nullable) - kód platby. Páruje se s kódem platby
                    + name (string) - název platby
                    + price (float) - cena platby
                    + price_with_vat (float) - cena s DPH
                    + price_without_vat (float) - cena bez DPH
                    + vat (float) - hodnota DPH v %
                    + eet_yn (bool) - příznak, jestli se má poslat objednávka do EET
                    + type (string, nullable) - typ platby
                + attachments (array) - pole objektů s přílohami objednávky
                    + (object)
                        + id (string) - ID přílohy
                        + name (string, nullable) - název
                        + url (string) - URL
                        + code (string, nullable) - kód
                + metas (MetasGet)

### Aktualizace objednávek [PUT]
Při změně stavu se posílají emaily a SMS (pokud jsou nějaké u [stavu objednávky](https://www.upgates.cz/a/stavy) nastaveny) a pokud jsou nastaveny atributy `send_emails_yn` a `send_sms_yn`.

+ Request

    + Attributes
        + send_emails_yn (bool, optional) - poslání emailu při změně stavu (pokud je nějaký email nastaven). Výchozí hodnota je `true`
        + send_sms_yn (bool, optional) - poslání SMS která je navázána na stav objednávky. Výchozí hodnota je `true` (SMS služba není standardně aktivní, více najdete v [Nastavení SMS](https://upgates.cz/a/sms))
        + delete_missing_products_yn (bool, optional) - pokud je `true`, smažou se u objednávky produkty které se v požadavku nepošlou. Výchozí hodnota je `false`
        + orders (array, optional) - pole objektů s objednávkami
            + (object)
                + order_number (string, required) - číslo objednávky
                + external_order_number (string, optional) - číslo objednávky z externího systému
                + status (string, optional) - název stavu objednávky, stav musí být vytvořen v administraci. Seznam stavů se dá zjistit pomocí metody GET, více v sekci [Stavy objednávky](#states)
                + status_id (int, optional) - ID stavu objednávky, stav musí být vytvořen v administraci. Seznam stavů se dá zjistit pomocí metody GET, více v sekci [Stavy objednávky](#states)
                + paid_date (date, optional) - datum zaplacení objednávky [ISO 8601](https://en.wikipedia.org/wiki/ISO8601)
                + tracking_code (string, optional) - trackovací kód pro dopravu
                + resolved_yn (bool, optional) - příznak pro vyřešenou objednávku
                + internal_note (string, optional) - interní poznámka
                + statistics_yn (bool, optional) - zahrnuto do statistik
                + variable_symbol (int, optional) - variabilní symbol maximální délka 10 znaků
                + dimensions (object, optional) - rozměry
                    + width (int) - šířka
                    + length (int) - délka
                    + height (int) - výška
                + customer (object) - zákazník
                    + email (email, optional) - email zákazníka
                    + phone (string, optional) - telefon
                    + firstname_invoice (string, optional) - fakturační jméno
                    + surname_invoice (string, optional) - fakturační příjmení
                    + street_invoice (string, optional) - fakturační ulice a číslo
                    + city_invoice (string, optional) - fakturační město
                    + state_invoice (string, optional) - fakturační okres
                    + zip_invoice (string, optional) - fakturační PSČ
                    + country_id_invoice (country, optional) - fakturační země
                    + postal_yn (bool, optional) - příznak doručovací adresy. Pokud posíláte doručovací adresu, musí mít hodnotu `true`
                    + company_postal (string, optional) - doručovací název firmy
                    + firstname_postal (string, optional) - doručovací jméno
                    + surname_postal (string, optional) - doručovací přijmení
                    + street_postal (string, optional) - doručovací ulice a číslo
                    + city_postal (string, optional) - doručovací město
                    + state_postal (string, optional) - doručovací okres
                    + zip_postal (string, optional) - doručovací PSČ
                    + country_id_postal (country, optional) - doručovací země
                    + company_yn (bool, optional) - příznak, jestli je zákazník firma
                    * company (string, optional) - název firmy. Povinné, pokud je zákazníkem firma
                    + ico (string, optional) - IČO
                    + dic (string, optional) - DIČ
                    + vat_payer_yn (bool, optional) - příznak, jestli je firma plátce DPH
                    + pricelist_name (string, optional) - název ceníku
                    + pricelist_percent (int, optional) - procenta slevy ceníku (pouze informativní, s procenty se nikde nepočítá)
                    + customer_note (string, optional) - poznámka zákazníka
                + products (array, optional) - pole objektů s produkty
                    + (object)
                        + uuid (string, optional) - UUID produktu, slouží pro párování produktu na objednávce. Pokud je uvedeno spáruje se s existujícím produktem v objednávce. Pokud není uvedeno, vloží se do objednávky nový produkt.
                        + code (string, optional) - kód produktu
                        + code_supplier (string, optional) - kód dodavatele
                        + ean (string, optional) - EAN produktu
                        + title (string, optional) - název produktu
                        + quantity (float, optional) - počet kusů
                        + unit (string, optional) - jednotka
                        + price_per_unit (float, required) - cena za jednu jednotku produktu (cena je s nebo bez DPH podle toho jak je objednávka vytvořena)
                        + vat (float, optional) - hodnota DPH v %
                        + buy_price (float, optional) - nákupní cena (cena je s nebo bez DPH podle toho jak je objednávka vytvořena)
                        + recycling_fee (float, optional) - recyklační poplatek
                        + weight (int, optional) - váha jedné jednotky produktu v gramech
                        + invoice_info (string, optional) - poznámka k produktu která se propisuje do faktury
                        + parameters (array, optional) - pole objektů s parametry produktu
                            + (object)
                                + name (string, required) - název parametru
                                + value (string, required) - hodnota parametru
                + quantity_discount (object, optional) - množstevní sleva
                    + amount (int, required) - hodnota slevy
                    + type (enum, required) - typ slevy
                        - price - sleva s konkrétní cenou
                        - percent - procentuální sleva (počítá se z celkové ceny objednávky bez dopravy a platby)
                + shipment (object, optional) - doprava
                    + code (string, optional) - kód dopravy. Páruje se s kódem dopravy
                    + name (string, required) - název dopravy
                    + price (float, required) - cena dopravy (cena je s nebo bez DPH podle toho jak je objednávka vytvořena)
                    + vat (float, required) - hodnota DPH v %
                    + affiliate_id (string, optional) - ID pobočky dopravy
                    + affiliate_name (string, optional) - název pobočky
                + payment (object, optional) - platba
                    + code (string, optional) - kód platby. Páruje se s kódem platby
                    + name (string, required) - název platby
                    + price (float, required) - cena platby (cena je s nebo bez DPH podle toho jak je objednávka vytvořena)
                    + vat (float, required) - hodnota DPH v %
                + metas (Metas, optional)
                + invoice (object, optional) - faktura
                    + generate_yn (bool, optional) - příznak na vygenerování faktury. Pokud bude `FALSE`, nevygeneruje se vůbec ani v případě, že je zapnuté automatické generování faktury. Pokud faktura už existuje, provede se její aktualizace podle dat objednávky.
                    + expiration_date (date, optional) - datum splatnosti. Pokud není vyplněno, bere se aktuální datum + nastavená hodnota z administrace
                    + date_of_issuance (date, optional) - datum vystavení
                    + date_of_vat_revenue_recognition (date, optional) - datum zdanitelného plnění
                + receipt (object, optional) - účtenka
                    + generate_yn (bool, optional) - příznak na vygenerování účtenky. Pokud bude `TRUE`, vygeneruje se.
                    + expiration_date (date, optional) - datum splatnosti. Pokud není vyplněno, bere se aktuální datum + nastavená hodnota z administrace
                    + date_of_issuance (date, optional) - datum vystavení
                    + date_of_vat_revenue_recognition (date, optional) - datum zdanitelného plnění
                + credit_note (object, optional) - dobropis
                    + generate_yn (bool, optional) - příznak na vygenerování dobropisu. Pokud bude `TRUE`, vygeneruje se. Do dobropisu se dají všechny položky objednávky, tzn. že se "vydobropisuje" celá hodnota objednávky. 
                    + expiration_date (date, optional) - datum splatnosti
                    + date_of_issuance (date, optional) - datum vystavení
                    + date_of_vat_revenue_recognition (date, optional) - datum zdanitelného plnění

+ Response 200 (application/json)

    + Attributes
        + orders (array) - pole objektů z objednávky
            + (object)
                + order_number (string) - číslo objednávky
                + order_url (string) - URL adresa, kde se nachází objednávka
                + updated_yn (bool) - informace o úspěšné aktualizaci položky
                + messages (ErrorMessage)

### Smazání objednávek [DELETE/api/v2/orders/{?order_number}{?order_numbers}]

+ Parameters
    + order_number (string, optional) - číslo objednávky
    + order_numbers (string, optional) - čísla objednávek oddělená středníkem `;`

+ Response 200 (application/json)

    + Attributes
        + orders (array) - pole objektů s objednávky
            + (object)
                + order_number (string) - číslo objednávky
                + deleted_yn (bool) - informace o úspěšném smazání položky
                + messages (ErrorMessage)

## Objednávka v PDF [/api/v2/orders/{order_number}/pdf]

[Postman Collections](https://upgates.cz/shop-data/developers/Upgates_API_postman_collection.json)

### Objednávka v PDF [GET]
Vrací dokument objednávky ve formátu PDF.

+ Parameters
    + order_number (string, required) - číslo objednávky

+ Response 200 (application/pdf)

## Historie [/api/v2/orders/history]

[Postman Collections](https://upgates.cz/shop-data/developers/Upgates_API_postman_collection.json)

### Přidání záznamu do historie objednávky [POST/api/v2/orders/{order_number}/history]
Přidá záznam do historie objednávky. Jeden pořadavek znamená přidání jednoho záznamu do historie. Slouží hlavně pro systémy třetích stran, které chtějí informovat administrátora e-shopu o tom, že proběhla nějaká událost. Čas události nelze upravovat. Pokud chcete, můžete si poslat čas v datech události.

+ Parameters
    + order_number (string, required) - číslo objednávky

+ Request

    + Attributes
        + data (array, required) - pole objektů s daty historie
            + (object)
                + name (string, required) - název, ořízne se na délku max. 50 znaků a odstraní se HTML značky
                + value (string, required) - hodnota, ořízne se na délku max. 500 znaků a odstraní se HTML značky

+ Response 200 (application/json)

    + Attributes
        + updated (bool)
        + messages (ErrorMessage)

### Historie objednávky [GET/api/v2/orders/{order_number}/history]
Vrací seznam událostí z historie objednávky. Data historie mohou obsahovat HTML značky.

+ Parameters
    + order_number (string, required) - číslo objednávky

+ Response 200 (application/json)

    + Attributes
        + number_of_items (int) - počet položek historie
        + history (array) - pole objektů s událostmi historie
            + (object)
                + event (string) - název události
                + user_name (string) - jméno uživatele, který událost provedl
                + changes (object) - pole objektů se změnami
                    + name (string) - název zněny
                    + before (string, nullable) - hodnota před změnou
                    + after (string, nullable) - hodnota po změně
                + admin_yn (bool) - ~~příznak, jestli událost pochází z eshopu nebo z administrace. Pokud pochází událost z API, bude `true`~~
                Zastaralý parametr, místo něj použijte `origin`
                + origin (enum) - zdroj ze kterého událost historie pochází
                    - admin - administrace
                    - support - podpora Upgates
                    - frontend - e-shop
                    - api - API
                    - import - import
                    - system - system Upgates
                    - paymentGateway - platební brána
                    - paymentPairing - párování plateb
                + data (array) - pole objektů s daty
                    + (object)
                        + name (string) - název
                        + value (string) - hodnota
                + creation_time (date) - čas události

## Přílohy objednávky [/api/v2/orders/files]
Existují dva druhy příloh, soubor a odkaz.

Více o přílohách v objednávkách v Upgates e-shopech najdete [zde](https://www.upgates.cz/a/objednavka#prilozeni-souboru-k-objednavce-scroll).

[Postman Collections](https://upgates.cz/shop-data/developers/Upgates_API_postman_collection.json)

### Přidání souboru [POST/api/v2/orders/{order_number}/file]
Poslání obsahu souboru přes **form-data**, parametry jsou:
- **file** (*file, required*) - obsah souboru
- **file_name** (*string, optional*) - název souboru
- **code** (*string, optinal*) - kód přílohy

+ Parameters
    + order_number (string, optional) - číslo objednávky

+ Response 200 (application/json)

    + Attributes
        + id (int, nullable) - ID přílohy
        + file (object, nullable)
            + id (int) - ID souboru
            + name (string) - název
            + mimetype (string) - MIMETYPE
            + size (int) - velikost v bytech
            + type (enum) - typ
                - image - obrázek
                - file - soubor
                - video - video
            + url (string) - URL souboru
        + inserted_yn (bool) - informace o úspěšném vytvoření položky
        + messages (ErrorMessage)

### Přidání odkazů [POST/api/v2/orders/{order_number}/urls]

+ Parameters
    + order_number (string, required) - číslo objednávky

+ Request

    + Attributes
        + urls (array, required) - pole objektů s daty přílohy
            + (object)
                + name (string, required) - název
                + url (string, required) - URL
                + code (string, optional) - kód

+ Response 200 (application/json)

    + Attributes
        + urls (object)
            + id (int) - ID přílohy
            + name (string) - název
            + url (string) - URL
            + code (string) - kód
            + inserted_yn (bool) - informace o úspěšném vytvoření položky
            + messages (ErrorMessage)
        + messages (ErrorMessage)

### Smazání přílohy [DELETE/api/v2/orders/{order_number}/attachments{?ids}]

+ Parameters
    + order_number (string, required) - číslo objednávky
    + ids (string) - ID přílohy objednávky oddělené středníkem `;` nebo jako pole

+ Response 200 (application/json)

    + Attributes
        + attachments (object)
            + id (int) - ID přílohy objednávky
            + code (string) - kód přílohy objednávky
            + deleted_yn (bool) - informace o úspěšném smazání položky
            + messages (ErrorMessage)


<!--
ZRUŠENO D.H. 1.1.2025 ## Stavy objednávky [/api/v2/orders/states]
**Tento endpoint již není podporován a v dalších verzích bude zrušen! Používejte [nový endpoint na stavy objednávek](/#reference/stavy-objednavky)**

### Stavy objednávky [GET]
Vrací seznam stavů objednávek. V požadavku pro aktualizaci nebo vytvoření objednávky se dá použít název stavu v jakémkoliv jazyce.

+ Response 200 (application/json)

    + Attributes
        + states (array) - pole objektů se stavy
            + (object)
                + id (int) - ID stavu
                + type (enum) - typ stavu. Pokud je hodnota `null`, pak se jedná o vlastní stav. Jinak jsou to systémové stavy
                    - Received - Přijatá
                    - Canceled - Storno
                    - PaymentSuccessful - Platba úspěšná
                    - PaymentFailed - Platba selhala
                    - PaymentCanceled - Platba zrušena
                    - PaymentInProcess - Platba probíhá
                    - Unresolved - Nedořešená
                + color (string) - barva pro odlišení stavu v HTML HEX formátu
                + names (object) - názvy stavu objednávky v jednotlivých jazycích. Klíč v objektu je kód jazyka podle **ISO 8601** a hodnota je název stavu. Např. `{ "cs": "Přijatá" }`
-->


# Group Stavy objednávky

## Stavy objednávky [/api/v2/order-statuses]
Typy stavů Homecredit se zakládají automaticky při zapnuti doplňku Homecredit.

Pro práci se stavy objednávky lze využívat **[webhooky](https://www.upgates.cz/a/stav-objednavek)**.

Více o stavech objednávek v Upgates e-shopech naleznete [zde](https://www.upgates.cz/a/stavy).

[Postman Collections](https://upgates.cz/shop-data/developers/Upgates_API_postman_collection.json)

### Vytvoření stavu [POST]
Typ se u nově založeného stavu dává vždy vlastní (`Custom`).

+ Request

    + Attributes
        + color (string, optional) - barva stavu v HTML HEX formátu
        + descriptions (array, required)
            + (object)
                + language_id (language)
                + name (string) - název
        + mark_resolved_yn (bool, optional) - příznak označovat objednávku jako vyřešenou, pokud není uvedeno bude `FALSE`
        + mark_paid_yn (bool, optional) - příznak označovat objednávku jako zaplacenou, pokud není uvedeno bude `FALSE`

+ Response 200 (application/json)

    + Attributes
        + order_status (object)
            + id (int) - ID stavu
            + created_yn (bool) - informace o úspěšném vytvoření položky
            + messages (ErrorMessage)

### Seznam stavů [GET/api/v2/order-statuses/{id}/{?type}]

+ Parameters
    + id (string, optional) - ID stavu
    + type (enum, optional) - typ stavu
        - Received - přijatá
        - Canceled - storno
        - Sent - odeslaná
        - PaymentSuccessful - platba úspěšná
        - PaymentFailed - platba selhala
        - PaymentCanceled - platba zrušena
        - PaymentInProcess - platba probíhá
        - Unresolved - nedořešená
        - Custom - vlastní
        - HomecreditProcessing - Homecredit - probíhá
        - HomecreditRejected - Homecredit - zamítnuto
        - HomecreditApproved - Homecredit - schváleno
        - HomecreditReadyToShip - Homecredit - připraveno k odeslání
        - HomecreditSent - Homecredit - odesláno
        - HomecreditDelivered - Homecredit - doručeno
        - HomecreditPaid - Homecredit - zaplaceno
        - HomecreditCanceled - Homecredit - zrušeno


+ Response 200 (application/json)

    + Attributes
        + order_statuses (array) - pole objektů se stavy
            + (object)
                + id (int) - ID stavu
                + type (enum) - typ stavu
                    - Received - přijatá
                    - Canceled - storno
                    - Sent - odeslaná
                    - PaymentSuccessful - platba úspěšná
                    - PaymentFailed - platba selhala
                    - PaymentCanceled - platba zrušena
                    - PaymentInProcess - platba probíhá
                    - Unresolved - nedořešená
                    - Custom - vlastní
                    - HomecreditProcessing - Homecredit - probíhá
                    - HomecreditRejected - Homecredit - zamítnuto
                    - HomecreditApproved - Homecredit - schváleno
                    - HomecreditReadyToShip - Homecredit - připraveno k odeslání
                    - HomecreditSent - Homecredit - odesláno
                    - HomecreditDelivered - Homecredit - doručeno
                    - HomecreditPaid - Homecredit - zaplaceno
                    - HomecreditCanceled - Homecredit - zrušeno
                + color (string) - barva stavu v HTML HEX formátu
                + descriptions (array)
                    + (object)
                        + language_id (language)
                        + name (string) - název
                + mark_resolved_yn (bool) - příznak označovat objednávku jako vyřešenou
                + mark_paid_yn (bool) - příznak označovat objednávku jako zaplacenou
                + last_update_time (date) - čas poslední aktualizace
                + creation_time (date) - čas vytvoření

### Aktualizace stavu [PUT]

+ Request

    + Attributes
        + id (int, required) - ID existujícího stavu
        + color (string, optional) - barva stavu v HTML HEX formátu
        + descriptions (array, required)
            + (object)
                + language_id (language)
                + name (string) - název
        + mark_resolved_yn (bool, optional) - příznak označovat objednávku jako vyřešenou
        + mark_paid_yn (bool, optional) - příznak označovat objednávku jako zaplacenou

+ Response 200 (application/json)

    + Attributes
        + order_status (object)
            + id (int) - ID stavu
            + updated_yn (bool) - informace o úspěšné aktualizaci položky
            + messages (ErrorMessage)

### Smazání stavu [DELETE/api/v2/order-statuses/{id}]

+ Parameters
    + id (int, required) - ID stavu

+ Response 200 (application/json)

    + Attributes
        + order_status (object)
            + id (int) - ID stavu
            + deleted_yn (bool) - informace o úspěšném smazání položky
            + messages (ErrorMessage)


# Group Faktury
Unikátním identifikátorem faktur je číslo faktury (`invoice_number`). Více o fakturách v Upgates e-shopech naleznete [zde](https://www.upgates.cz/a/dokument-faktura).

## Faktury [/api/v2/invoices]
Více o fakturaci v Upgates e-shopech naleznete [zde](https://www.upgates.cz/a/dokument-faktura).

[Postman Collections](https://upgates.cz/shop-data/developers/Upgates_API_postman_collection.json)

### Seznam faktur [GET/api/v2/invoices/{invoice_number}{?invoice_numbers}{?creation_time_from}{?creation_time_to}{?last_update_time_from}{?page}{?paid_yn}{?type}]
Některé údaje nejsou dostupné přímo ve faktuře, ale v detailu související objednávky. [Více zde](#reference/objednavky).
Seznam faktur je dostupný po jednotlivých stranách, výstup je omezený na 100 položek na stránku.

+ Parameters
    + invoice_number (string, optional) - číslo faktury
    + invoice_numbers (string, optional) - čísla faktur oddělená středníkem `;`
    + creation_time_from (date, optional) - vrátí faktury vytvořené od tohoto data
    + creation_time_to (date, optional) - vrátí faktury vytvořené do tohoto data
    + last_update_time_from (date, optional) - vrátí faktury změněné od tohoto data
    + page (int, optional) - stránka. Pokud není definováno, vrací vždy stranu 1
    + paid_yn (bool, optional) - pokud je 1, vrátí zaplacené faktury
    + type (enum, optional) - typ dokladu
        - invoice - faktura
        - creditNote - dobropis
        - receipt - účtenka

+ Response 200 (application/json)

    + Attributes
        + current_page (int) - aktuální strana
        + current_page_items (int) - počet položek na aktuální straně
        + number_of_pages (int) - celkový počet stran
        + number_of_items (int) - celkový počet položek
        + invoices (array) - pole objektů s fakturami
            + (object)
                + invoice_number (string) - číslo faktury
                + related_invoice_number (string, nullable) - číslo související faktury, **pouze u dobropisu**
                + type (enum) - typ faktury, hodnoty:
                    - invoice - faktura
                    - creditNote - dobropis
                    - receipt - účtenka
                + order_number (string) - číslo objednávky
                + external_order_number (string, nullable) - číslo objednávky z externího systému
                + case_number (string, nullable) - číslo obchodního případu
                + language_id (language)
                + currency_id (currency)
                + date_of_issuance (date) - datum vystavení
                + date_of_vat_revenue_recognition (date) - datum zdanitelného plnění
                + date_of_expiration (date) - datum splatnosti
                + creation_time (date) - datum vytvoření
                + variable_symbol (string) - variabilní symbol
                + specific_symbol (string) - specifický symbol
                + payment (string) - platba
                + paid_yn (bool) - zaplaceno
                + paid_date (date, nullable) - datum zaplacení
                + oss_yn (bool) - příznak jestli je faktura v režimu OSS
                + oss_country_id (country, nullable) - země režimu OSS
                + total_rest (float) - zaokrouhlení celkové částky
                + total_with_vat (float) - celková částka s DPH
                + total_without_vat (float) - celková částka bez DPH
                + note (string, nullable) - poznámka
                + invoice_pdf_url (string) - URL na PDF fakturu
                + supplier (object) - dodavatel
                    + email (string, nullable) - email
                    + phone (string, nullable) - telefon
                    + name (string, nullable) - jméno osoby nebo název firmy
                    + street (string, nullable) - ulice a číslo
                    + city (string, nullable) - město
                    + zip (string, nullable) - PSČ
                    + country_id (country, nullable) - stát
                    + company_yn (bool) - příznak, jestli je firma
                    + var_payer_yn (bool) - příznak, jestli je plátce DPH
                    + ico (string, nullable) - IČO
                    + dic (string, nullable) - DIČ
                    + account_number (string, nullable) - číslo účtu
                    + iban (string, nullable) - IBAN
                    + swift (string, nullable) - SWIFT
                    + web (string, nullable) - webová stránka
                + customer (object) - zákazník
                    + email (string, nullable) - email
                    + phone (string, nullable) - telefon
                    + name (string, nullable) - jméno osoby nebo název firmy
                    + street (string, nullable) - ulice a číslo
                    + city (string, nullable) - město
                    + zip (string, nullable) - PSČ
                    + country_id (country, nullable) - stát
                    + company_yn (bool) - příznak, jestli je zákazník firma
                    + ico (string, nullable) - IČO
                    + dic (string, nullable) - DIČ
                + items (array) - pole objektů s položkami
                    + (object)
                        + code (string, nullable) - kód
                        + name (string) - název
                        + description (string) - popis
                        + quantity (float) - počet kusů
                        + unit (string) - jednotka
                        + vat (float) - procentuální sazba DPH
                        + price_per_unit_with_vat (float) - cena za jednotku s DPH
                        + price_per_unit_without_vat (float) - cena za jednotku bez DPH
                        + price_with_vat (float) - cena za s DPH
                        + price_without_vat (float) - cena za bez DPH
                        + recycling_fee (float, optional) - recyklační poplatek
                        + type (enum) - typ položky, hodnoty:
                            - product - produkt
                            - discount - sleva
                            - shipment - doprava
                            - payment - platba
                + eet (object) - informace o EET (bude vyplněno pouze u faktury typu účtenka)
                    + send_yn (bool) - příznak, jestli se má poslat do EET. Určuje systém na základě nastavení v e-shopu
                    + production_yn (bool) - pokud je hodnota 0, není v e-shopu aktivován produkční režim napojení na EET a data se do EET posílají v neprodukčním testovacím režimu
                    + id_provoz (string) - ID provozovny
                    + id_pokl (string) - ID pokladního zažízení
                    + rezim (enum) - režim EET, hodnoty:
                        - common - běžný
                        - simplified - zjednodušený
                    + bkp (string) - BKP (bezpečnostní kód poplatníka)
                    + fik (string) - FIK (fiskální identifikační kód)
                    + pkp (string) - PKP (podpisový kód poplatníka)
                + recapitulation_currency_id (currency) - měna rekapitulace DPH. Pokud bude faktura v jiné měně než je měna země provozovatele e-shopu, jinými slovy pokud e-shop prodává do zahraničí, bude zde měna provozovatele eshopu. Tedy měna, ve které je přehled DPH. Pokud není uvedeno, je přehled DPH ve měně faktury.
                + recapitulation_currency_rate (float) - kurz měny rekapitulace DPH
                + recapitulation_vats (array) - přehled DPH, pole objektů s jednotlivými hladinami DPH. Klíč pole je procentuální sazba DPH
                    + (object)
                        + base (float) - základ
                        + vat (float) - výše DPH
                        + total (float) - celkem s DPH
                + recapitulation_vats_total (object) - přehled DPH celkem
                    + base (float) - základ
                    + vat (float) - výše DPH
                    + total (float) - celkem s DPH

## PDF faktura [/api/v2/invoices/{invoice_number}/pdf]

[Postman Collections](https://upgates.cz/shop-data/developers/Upgates_API_postman_collection.json)

### PDF faktura [GET]
Vrací fakturu ve formátu PDF.

+ Parameters
    + invoice_number (string, required) - číslo faktury

+ Response 200 (application/pdf)


# Group Produkty
Unikátním identifikátorem produktů a variant je kód (`code`). **POZOR!** Kód produktu není povinný. Doporučujeme využívat při komunikaci spíše ID.
Pokud produkt nemá vyplněný kód, není možné jej založit, editovat a ani mazat.

Pro práci s produkty lze využívat **[webhooky](https://www.upgates.cz/a/produkty-1)**.

Více o produktech v Upgates e-shopech naleznete [zde](https://www.upgates.cz/a/seznamy-produktu).

## Produkty [/api/v2/products]

[Postman Collections](https://upgates.cz/shop-data/developers/Upgates_API_postman_collection.json)

**Seznamy produktů:**
- produkty jsou dostupné po jednotlivých stranách, výstup je omezený na 50 položek na stránku. Pokud bude jakákoliv hodnota u variant `null`, dědí se z produktu.
- hodnota slevy na produkt (`product_discount`) + sleva na výrobce + sleva na kategorii (bere se sleva z hlavní kategorie, ve které je produkt zařazen). Výsledná hodnota slevy se omezí na hodnotu z nastavení *Maximální procento slevy*.

### Vytvoření produktů [POST]
+ produkty a varianty se párují podle hodnoty `code`, ta musí být unikátní
+ pokud bude jakákoliv hodnota u variant `null` dědí se od produktu
+ štítky u variant - když budou mít atributy `active_yn`, `active_from`, `active_to` hodnotu `NULL`, bude se štítek dědit z produktu
+ maximální počet produktů a variant založených při jednom požadavku je 100, tzn. 100 produktů celkem a maximálně 100 variant v každém produktu. Při poslání většího počtu se všechny položky ignorují.

+ Request
    + Attributes
        + products (array, optional) - pole objektů s produkty
            + (object)
                + code (string, optional) - kód produktu
                + code_supplier (string, optional) - kód dodavatele
                + active_yn (bool, optional) - zobrazit produkt na webu
                + archived_yn (bool, optional) - archivovaný produkt
                + replacement_product_code (string, optional) - kód náhradního produktu, uvádět pouze pokud je produkt archivovaný
                + ean (string, optional) - EAN
                + descriptions (array, required)
                    + (object)
                        + language (language, required)
                        + active_yn (bool, optional) - aktivní v jazykové mutaci, výchozí je `TRUE`. Použitelné pouze pro deaktivaci jazykové mutace (skrytí produktu v jazykove mutaci)
                        + title (string, required) - název produktu. Povinné pouze v případě, že se nově zapíná jazyková mutace
                        + short_description (string, optional) - krátký popis, bez HTML formátování
                        + long_description (string, optional) - dlouhý popis, může obsahovat formátování pomocí HTML značek
                        + seo_title (string, optional) - SEO titulek
                        + seo_description (string, optional) - META popisek stránky produktu
                        + seo_url (string, optional) - vlastní koncovka URL adresy
                + stock (float, optional) - počet jednotek na hlavním skladu
                + stock_position (string, optional) - pozice na hlavním skladu
                + limit_orders (enum, optional) - omezení objednání
                    - 0 - vypnuto
                    - 1 - zapnuto
                    - sale - pouze pokud je produkt ve výprodeji
                    - null - dědí z nastavení eshopu
                + availability_id (int, optional) - ID dostupnosti
                + availability (string, optional) - název dostupnosti. Neimportuje se u položek s nastavením [dostupnosti dle stavu zásob](https://upgates.cz/a/nastaveni-dostupnosti-dle-stavu-zasob). Pokud však v tomto případě stav zásob není definován (hodnota `stock` musí být prázdná nebo úplně chybět), dostupnost se importuje
                + manufacturer_id (int, optional) - ID výrobce
                + manufacturer (string, optional) - název výrobce, pokud nebude existovat, založí
                + weight (int, optional) - váha v gramech. Zaokrouhlete na celá čísla.
                + shipment_group (string, nullable) - skupina doprav
                + can_add_to_basket_yn (bool, optional) - lze přidat do košíku
                + adult_yn (bool, optional) - pouze pro dospělé
                + images (array, optional) - pole objektů s obrázky
                    + (object)
                        + file_id (int, optional) - ID souboru, hledá se soubor s konkrétním ID, soubor musí být typu `image` nebo `video`
                        + url (string, optional) - URL, obrázky se nestahují hned, ale jsou staženy na pozadí. Pokud chcete posílat obrázky tak aby byly vidět hned, pouzijte endpoint [Vložení obrázku](/#reference/produkty/produkty/pridani-obrazku)
                        + main_yn (bool, optional) - příznak pro hlavní obrázek. Pokud není definováno nebo je u všech obrázků `FALSE`, vezme se jako hlavní obrázek první
                        + list_yn (bool, optional) - příznak pro seznamový obrázek. Pokud není definováno nebo je u všech obrázků `FALSE`, vezme se jako seznamový obrázek první
                        + position (int, optional) - pozice
                + stocks (array, optional) - Pokud má projekt zapnutý doplněk Více skladů a nějaké sklady vytvořené. [Více zde Sklady](/#reference/sklady)
                    + (object)
                        + stock_id (int, required) - ID skladu, párovací prvek. Pokud jej neznáte můžete použít `code`
                        + code (string) - Kód skladu. Může sloužit jako párovací prvek, pokud neznáte `stock_id`
                        + position (string, nullable) - pozice na skladě
                        + quantity (float, nullable) - počet jednotek na skladě        
                + categories (array, optional) - pole objektů s kategoriemi
                    + (object)
                        + category_id (int, optional) - ID kategorie  Nelze napárovat na kategorie, které mají v parentid NULL.
                        + code (string, optional) - kód kategorie
                        + main_yn (bool, optional) - příznak pro hlavní kategorii. Pokud není definováno nebo je u všech kategorií `FALSE`, vezme se jako hlavní kategorie první
                        + position (int, optional) - pozice v kategorii
                + prices (array, optional) - pole objektů s cenami
                    + (object)
                        + language (language, required)
                        + pricelists (array, optional) - pole objektů s ceníky
                            + (object)
                                + name (string, required) - název ceníku. Pokud je při importu prázdné, chápe se jako výchozí ceník
                                + price_original (float, optional) - původní cena. Základní ceníková cena, od které se odvozují další
                                + product_discount (float, optional) - sleva na produkt v procentech
                                + price_sale (float, optional) - akční cena. Exportuje se pouze tehdy, pokud je produkt v akci (štítek akce)
                        + price_purchase (float, optional) - nákupní cena, interní údaj pro orientaci administrátora
                        + price_common (float, optional) - běžná cena, pro orientaci při nákupu. Může to být např. cena v kamenných obchodech
                + vats (object) - objekt s DPH v jednotlivých zemích (klíč každé položky v objektu je typu *country*)
                + labels (array, optional) - štítky
                    + (object)
                        + label_id (int, optional) - ID štítku
                        + name (object, optional) - objekt s názvy štítků v jednotlivých jazycích (klíč každé položky v objektu je typu *language*). Příklad vyplněné hodnoty najdete v *name* u GET ../api/v2/products/labels.
                        + active_yn (bool, optional) - aktivní
                        + active_from (date, optional) - aktivní od data
                        + active_to (date, optional) - aktivní do data
                + parameters (array, optional) - parametry
                    + (object)
                        + id (int, optional) - ID parametru
                        + descriptions (array) - název parametru
                            + (object)
                                + language (language, required)
                                + name (string, required)
                        + values (array, required) - hodnoty
                            + (object)
                                + id (int) + ID hodnoty
                                + descriptions (array)
                                    + (object)
                                        + language (language, required)
                                        + value (string, required)
                + variants (array, optional) - pole objektů s variantami
                    + (object)
                        + code (string, required) - kód varianty
                        + code_supplier (string, optional) - kód dodavatele
                        + active_yn (bool, optional) - zobrazit variantu na webu
                        + main_yn (bool, optional) - hlavní varianta
                        + ean (string, optional) - EAN
                        + stock (float, optional) - počet jednotek na skladě
                        + stock_position (string, optional) - pozice na skladě
                        + availability_id (int, optional) - ID dostupnosti
                        + availability (string, optional) - název dostupnosti. Neimportuje se u položek s nastavením [dostupnosti dle stavu zásob](https://upgates.cz/a/nastaveni-dostupnosti-dle-stavu-zasob). Pokud však v tomto případě stav zásob není definován (hodnota `stock` musí být prázdná nebo úplně chybět), dostupnost se importuje
                        + can_add_to_basket_yn (bool, optional) - lze přidat do košíku
                        + image (object, optional) - obrázek varianty
                            + file_id (int, optional) - ID existujícího souboru, soubor musí být typu `image`
                            + url (string, optional) - URL adresa, obrázek se nestahuje hned, ale je stažen na pozadí
                        + stocks (array, optional) - Pokud má projekt zapnutý doplněk Více skladů a nějaké sklady vytvořené. [Více zde Sklady](/#reference/sklady)
                            + (object)
                                + stock_id (int, required) - ID skladu, párovací prvek. Pokud jej neznáte můžete použít `code`
                                + code (string) - Kód skladu. Může sloužit jako párovací prvek, pokud neznáte `stock_id`
                                + position (string, nullable) - pozice na skladě
                                + quantity (float, nullable) - počet jednotek na skladě
                        + prices (array, optional) - pole objektů s cenami
                            + (object)
                                + language (language, required)
                                + pricelists (array, optional) - pole objektů s ceníky
                                    + (object)
                                        + name (string, required) - název ceníku. Pokud je při importu prázdné, chápe se jako výchozí ceník
                                        + price_original (float, optional) - původní cena. Základní ceníková cena od které se odvozují další
                                        + product_discount (float, optional) - sleva na produkt v procentech
                                        + price_sale (float, optional) - akční cena. Exportuje se pouze tehdy, pokud je produkt v akci (štítek akce)
                                + price_purchase (float, optional) - nákupní cena, interní údaj pro orientaci administrátora
                                + price_common (float, optional) - běžná cena, pro orientaci při nákupu. Může to být např. cena v kamenných obchodech
                        + labels (array, optional)
                            + (object)
                                + label_id (int, optional) - ID štítku
                                + name (object, optional) - objekt s názvy štítků v jednotlivých jazycích (klíč každé položky v objektu je typu *language*). Příklad vyplněné hodnoty najdete v *name* u GET ../api/v2/products/labels.
                                + active_yn (bool, optional) - aktivní
                                + active_from (date, optional) - aktivní od data
                                + active_to (date, optional) - aktivní do data
                        + parameters (array, optional) - parametry varianty
                            + (object)
                                + id (int, optional) - ID parametru
                                + descriptions (array) - název parametru
                                    + (object)
                                        + language (language, required)
                                        + name (string, required)
                                + values (array, required) - hodnoty
                                    + (object)
                                        + id (int) + ID hodnoty
                                        + descriptions (array)
                                            + (object)
                                                + language (language, required)
                                                + value (string, required)
                        + metas (Metas, optional)
                + metas (Metas, optional)

+ Response 200 (application/json)

    + Attributes
        + products (array) - pole objektů s produkty
            + (object)
                + product_id (int) - ID produktu
                + code (string, nullable) - kód produktu
                + product_url (string) - URL adresa, kde se nachází produkt
                + inserted_yn (bool) - informace o úspěšném vytvoření položky
                + messages (ErrorMessage)
                + variants (array)
                    + (object)
                        + variant_id (int) - ID varianty
                        + code (string, nullable) - kód varianty
                        + inserted_yn (bool) - informace o úspěšném vytvoření položky
                        + messages (ErrorMessage)

### Aktualizace produktu [PUT]
+ produkty a varianty se párují podle hodnoty `code`, ta musí být unikátní
+ pokud bude jakákoliv hodnota u variant `null` dědí se od produktu
+ štítky u variant - když budou mít atributy `active_yn`, `active_from`, `active_to` hodnotu `NULL`, bude se štítek dědit z produktu
+ maximální počet produktů a variant založených při jednom požadavku je 100, tzn. 100 produktů celkem a maximálně 100 variant v každém produktu. Při poslání většího počtu se všechny položky ignorují.

+ Request
    + Attributes
        + products (array, optional) - pole objektů s produkty
            + (object)
                + code (string, required) - kód produktu, páruje se podle existující hodnoty v databázi
                + code_supplier (string, optional) - kód dodavatele
                + active_yn (bool, optional) - zobrazit produkt na webu
                + archived_yn (bool, optional) - archivovaný produkt
                + replacement_product_code (string, optional) - kód náhradního produktu, pouze pokud je produkt archivovaný
                + ean (string, optional) - EAN
                + descriptions (array, optional)
                    + (object)
                        + language (language, required)
                        + active_yn (bool, optional) - aktivní v jazykové mutaci, výchozí je `TRUE`. Použitelné pouze pro deaktivaci jazykové mutace (skrytí produktu v jazykove mutaci)
                        + title (string, optional) - název produktu. Povinné pouze v případě, že se nově zapíná jazyková mutace
[...]
